<div class="cta-button {{modifiers}}" >
    {# Here you have two options, look for the descriptions i the 'json' file 
    to find out how this works #}
    <a href="{{href}}"> {{ value }} </a>
    {{ btn }}
</div>