<div class="lb-footer {{ modifiers }}">
  <div class="lb-footer__left">
    {{ leftFooter }}
  </div>
  <div class="lb-footer__middle">
    {{ middleFooter }}
  </div>
  <div class="lb-footer__right">
    {{ rightFooter }}
  </div>
</div>