 <header class="nav-flex-holder">
    <div class="nav-flex-holder__logo">
     {{logo}}
    </div>
    <div class="nav-flex-holder__item">
      <a href="{{href}}"> {{ value }} </a>
      {{items}} 
    </div>
</header>
