 <div class="grid-sections {{modifier}}">
  <div class="grid-sections__image"> 
        {{image}}
    </div>
    <div class="grid-sections__text-content">
        {{contents}}
    </div>
  </div>
</div>